# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*
!.env.example

# Jupyter
.ipynb_checkpoints/
test_environment.ipynb

# Data
data/raw/
data/processed/
!data/raw/.gitkeep
!data/processed/.gitkeep

# Local database / temporary files
*.sqlite
*.db

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/


# Local-only
local-work/
